@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Unica+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.font-80 {
  font-size: 80px;
}

.unica-one {
  font-family: 'Unica One', cursive;
}

.main-subtitle {
  font-family: 'Nanum Pen Script', cursive;
}

.body {
  color: black;
}
