@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Unica+One&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-link {
	color: #61dafb;
}

.font-80 {
	font-size: 80px;
}

.unica-one {
	font-family: 'Unica One', cursive;
}

.main-subtitle {
	font-family: 'Nanum Pen Script', cursive;
}

.body {
	color: black;
  margin: 0 !important;
  padding: 0 !important;
}

.container__main {
	background-color: #fff;
	min-height: 100vh;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
}

.item-grid {
	display: grid;
	max-width: 920px;
	min-height: 825px;
	grid-template-columns: 460px 300px;
	column-gap: 50px;
	grid-template-areas:
		'left right'
		'footer right'
		'edit right';
	padding: 40px 55px;
	clear: both;
}

.image-grid {
	grid-area: left / left / left / left;
	max-height: 550px;
	max-width: 460px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.right-col-grid {
	grid-area: right / right / right / right;
}

.transform-title-grid {
	text-transform: var(--headerFontTextTransform);
}

.grid-price {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: center;
}

.my-fav-wrapper {
	/* width: 1350px;
  height: 350px; */
	max-width: 1350px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-wrapper {
	padding: 15px;
	border-radius: 8px;
	height: 100%;
	width: inherit;
}

.card-image-wrapper {
	height: calc(100% - 88px);
}

.card-image {
	height: 100%;
	width: 100%;
	border-radius: 4px;
	-webkit-object-fit: contain;
	object-fit: contain;
}

.grid-context {
	margin-top: 35px;
	grid-area: footer / footer / footer / footer;
	min-height: 195px;
}

.main-wrapper {
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
}

* {
  text-decoration: none !important;
}

/* Carousel styles */
.alice-carousel {
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding: 3vw;
}

.alice-carousel__stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alice-carousel__stage-item {
  display: block;
  width: fit-content;
  margin: auto 2vw;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-item-wrapper {
  display: block;
  width: fit-content;
  margin-right: 50px;
  padding: 5px;
}

.carousel-item-wrapper:hover {
  background-color: rgba(196, 190, 190, 0.534);
  border-radius: 10px;
  height: 100%;
}

.alice-carousel__stage-item.__active {
  display: block;
  padding: 0;
} 

.img-item {
  display: block;
  width: fit-content;
  height: 100%;
  padding: 10px;
}

/* .img-item:hover {
  background-color: rgba(182, 179, 179, 0.534);
  border-radius: 10px;
} */

.carousel-img {
  display: block;
  max-height: 250px;
  width: 100%;
  margin-right: 10vw;
}

.alice-carousel__prev-btn {
  position: absolute;
  top: 40%;
  left: -2%;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px;
  border-radius: 50%;
  background-color: #fff;
  font-size: x-large;
  font-weight: bold;
  color: black;
  padding: 0 10px;
}

.alice-carousel__next-btn {
  position: absolute;
  top: 40%;
  right: -2%;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px;
  border-radius: 50%;
  background-color: #fff;
  font-size: x-large;
  font-weight: bold;
  color: black;
  padding: 0 10px;
}

/* #root {
  font-family: 'Montserrat', sans-serif;
} */
